$blue: hsl(223, 87%, 63%);
$blue-lighten: lighten(hsl(223, 87%, 63%), 5%);
$mediumBlue: (hsl(228, 45%, 44%));
$paleBlue: hsl(223, 100%, 88%);
$darkBlue: hsl(209, 33%, 12%);
$lightRed: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$gray-lighten: lighten(hsl(0, 0%, 59%), 30%);
$white: hsl(0, 0%, 100%);

$font: 'Libre Franklin', sans-serif;