@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700');
@import "variables";
@import"mixins";


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: $font;
    text-align: center;
    color: $darkBlue;
    @include phone {
        font-size: 16px;
    }
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

header {
    svg {
        margin-bottom: 0.75rem;
    }

    h1{
        margin: 0.75rem 0;

        span {
            color: $gray;
            font-weight: 300;
        }
    }

    p {
        margin: 0;
    }
}

main {
    margin: 2rem 0;

    form {
        display: flex;
        justify-content: center;
        padding: 0 2rem;
        @include phone {
            flex-direction: column;
            align-items: center;
        }

        div{
            width: 62.5%;
            margin-right: 1rem;
            @include phone {
                width: 100%;
                margin-right: 0;
                margin-bottom: 1.25rem;
            }

            p.error-msg {
                margin: 0.25rem 0 0 0;
                font-size: 0.6rem;
                padding: 0 1.25rem;
                text-align: left;
                font-style: italic;
                color: $lightRed;
                @include phone {
                    text-align: center;
                    margin-top: 0.5rem;
                    font-size: 0.8rem;
                }
            }
        }

        input {
            padding: 0.7rem 1.25rem;
            border-radius: 1.5rem;
            font-family: $font;
            outline: transparent;
            @include phone {
                padding: 0.9rem 1.25rem;
            }

            &.email {
                @include border(1px, $paleBlue);
                width: 100%;
                box-sizing: border-box;
                @include phone {
                    width: 100%;
                }

                &::placeholder {
                    color:$gray;
                }

                &:focus {
                    @include border(1px, $blue);
                }

                &.error {
                    @include border(1px, $lightRed);
                }
            }

            &.btn {
                @include border(1px,$blue);
                background-color: $blue;
                color: $white;
                font-weight: 600;
                width: 28%;
                height: 46px;
                box-shadow: 0 0.2rem 0.8rem $paleBlue;
                transition: background-color 0.3s, border 0.3s;
                @include phone {
                    width: 100%;
                }

                &:hover {
                    cursor: pointer;
                    background-color: $blue-lighten;
                    @include border(1px, $blue-lighten);
                }
            }
        }
    }

    img {
        width: 100%;
        height: auto;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}

footer {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding-right: 1rem;
            
            a i {
                width: 0.8rem;
                height: 0.8rem;
                font-size: 0.8rem;
                line-height: 0.8rem;
                padding: 0.4rem;
                @include border(0.8px,$gray-lighten);
                border-radius:100%;
                color: $blue;
                transition: background-color 0.3s, border 0.3s, color 0.3s;
               
                &:hover {
                    background-color: $blue;
                    color: $white;
                    @include border(1px, $blue);
                }
            }
        }
    }

    p.copyright {
        font-size: 0.65rem;
        margin-top: 1.75rem;
    }

    p.attribution {
        font-size: 0.55rem; 
        text-align: center; 

        a {
            color: $mediumBlue; 
        }
    }

    
}