@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,600,700");
html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
  color: #151f29;
}

@media (max-width: 600px) {
  html, body {
    font-size: 16px;
  }
}

.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

header svg {
  margin-bottom: 0.75rem;
}

header h1 {
  margin: 0.75rem 0;
}

header h1 span {
  color: #969696;
  font-weight: 300;
}

header p {
  margin: 0;
}

main {
  margin: 2rem 0;
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
}

@media (max-width: 600px) {
  main form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main form div {
  width: 62.5%;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  main form div {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1.25rem;
  }
}

main form div p.error-msg {
  margin: 0.25rem 0 0 0;
  font-size: 0.6rem;
  padding: 0 1.25rem;
  text-align: left;
  font-style: italic;
  color: #ff5263;
}

@media (max-width: 600px) {
  main form div p.error-msg {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}

main form input {
  padding: 0.7rem 1.25rem;
  border-radius: 1.5rem;
  font-family: "Libre Franklin", sans-serif;
  outline: transparent;
}

@media (max-width: 600px) {
  main form input {
    padding: 0.9rem 1.25rem;
  }
}

main form input.email {
  border: 1px solid #c2d3ff;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 600px) {
  main form input.email {
    width: 100%;
  }
}

main form input.email::-webkit-input-placeholder {
  color: #969696;
}

main form input.email:-ms-input-placeholder {
  color: #969696;
}

main form input.email::-ms-input-placeholder {
  color: #969696;
}

main form input.email::placeholder {
  color: #969696;
}

main form input.email:focus {
  border: 1px solid #4f7df3;
}

main form input.email.error {
  border: 1px solid #ff5263;
}

main form input.btn {
  border: 1px solid #4f7df3;
  background-color: #4f7df3;
  color: white;
  font-weight: 600;
  width: 28%;
  height: 46px;
  -webkit-box-shadow: 0 0.2rem 0.8rem #c2d3ff;
          box-shadow: 0 0.2rem 0.8rem #c2d3ff;
  -webkit-transition: background-color 0.3s, border 0.3s;
  transition: background-color 0.3s, border 0.3s;
}

@media (max-width: 600px) {
  main form input.btn {
    width: 100%;
  }
}

main form input.btn:hover {
  cursor: pointer;
  background-color: #668ff4;
  border: 1px solid #668ff4;
}

main img {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  padding-right: 1rem;
}

footer ul li a i {
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.8rem;
  line-height: 0.8rem;
  padding: 0.4rem;
  border: 0.8px solid #e3e3e3;
  border-radius: 100%;
  color: #4f7df3;
  -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

footer ul li a i:hover {
  background-color: #4f7df3;
  color: white;
  border: 1px solid #4f7df3;
}

footer p.copyright {
  font-size: 0.65rem;
  margin-top: 1.75rem;
}

footer p.attribution {
  font-size: 0.55rem;
  text-align: center;
}

footer p.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */